<li id="microposts-<%= micropost.id %>">
    <div class="row">
    <div class="col-8">
        <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
        <span class="user">
            <%= link_to micropost.user.name, micropost.user %> 
        </span>
        <span class="content"><%= micropost.content %></span>
            Posted <%= time_ago_in_words(micropost.created_at) %> ago.
            <%= link_to "削除", micropost, method: :delete, data: { confirm: "消して大丈夫ですか？" } %>
        </span>
    </div>
    <div class="col-4">
        <div class="row">
            <div class="col-2 text-center">
                
            </div>
    
            <div class="col-2 pl-2 text-right">
            
                <% if micropost.sadness.to_f > 0.8  %>
                    <div class="opacity-5">
                <% elsif micropost.sadness.to_f > 0.4  %>
                    <div class="opacity-4">
                <% elsif micropost.sadness.to_f > 0.6  %>
                    <div class="opacity-3">
                <% elsif micropost.sadness.to_f > 0.2  %>
                    <div class="opacity-2">
                <% else  %>
                    <div class="opacity-1">
                <% end %>
                    <%= image_tag("emotions/sadness.png", alt: "emotion icon", size: "45x45", id:"emotion_icon")%>
                </div>
               
            </div>
            
            <div class="col-2 pl-2 text-right">
                <% if micropost.joy.to_f > 0.8  %>
                    <div class="opacity-5">
                <% elsif micropost.joy.to_f > 0.4  %>
                    <div class="opacity-4">
                <% elsif micropost.joy.to_f > 0.6  %>
                    <div class="opacity-3">
                <% elsif micropost.joy.to_f > 0.2  %>
                    <div class="opacity-2">
                <% else  %>
                    <div class="opacity-1">
                <% end %>
                    <%= image_tag("emotions/joy.png", alt: "emotion icon", size: "45x45", id:"emotion_icon")%>
                </div>
                
            </div>
            
            <div class="col-2 pl-2 text-right">
                <% if micropost.fear.to_f > 0.8  %>
                    <div class="opacity-5">
                <% elsif micropost.fear.to_f > 0.4  %>
                    <div class="opacity-4">
                <% elsif micropost.fear.to_f > 0.6  %>
                    <div class="opacity-3">
                <% elsif micropost.fear.to_f > 0.2  %>
                    <div class="opacity-2">
                <% else  %>
                    <div class="opacity-1">
                <% end %>
                    <%= image_tag("emotions/fear.png", alt: "emotion icon", size: "45x45", id:"emotion_icon")%>
                </div>
                
            </div>
            
            <div class="col-2 pl-2 text-right">
                <% if micropost.disgust.to_f > 0.8  %>
                    <div class="opacity-5">
                <% elsif micropost.disgust.to_f > 0.4  %>
                    <div class="opacity-4">
                <% elsif micropost.disgust.to_f > 0.6  %>
                    <div class="opacity-3">
                <% elsif micropost.disgust.to_f > 0.2  %>
                    <div class="opacity-2">
                <% else  %>
                    <div class="opacity-1">
                <% end %>            
                    <%= image_tag("emotions/disgust.png", alt: "emotion icon", size: "45x45", id:"emotion_icon")%>
                </div>
                
            </div>
            
            <div class="col-2 pl-2 text-right">
                <% if micropost.anger.to_f > 0.8  %>
                    <div class="opacity-5">
                <% elsif micropost.anger.to_f > 0.4  %>
                    <div class="opacity-4">
                <% elsif micropost.anger.to_f > 0.6  %>
                    <div class="opacity-3">
                <% elsif micropost.anger.to_f > 0.2  %>
                    <div class="opacity-2">
                <% else  %>
                    <div class="opacity-1">
                <% end %>
                    <%= image_tag("emotions/anger.png", alt: "emotion icon", size: "45x45", id:"emotion_icon")%>
                </div>
                
            </div>
           
        
        </div>
    </div>
    </div>
</li>