<li id="microposts-<%= micropost.id %>">
    <div class="row">
    <div class="col-8">
        <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
        <span class="user">
            <%= link_to micropost.user.name, micropost.user %> 
        </span>
        <span class="content"><%= micropost.content %></span>
            Posted <%= time_ago_in_words(micropost.created_at) %> ago.
            <%= link_to "削除", micropost, method: :delete, data: { confirm: "消して大丈夫ですか？" } %>
        </span>
    </div>
    <div class="col-4">
        <div class="row">
            <div class="col-2">
            </div>
            <% if micropost.sadness.to_f < 0.5 %>
                <div class="col-2 pl-2 text-right">
            <% else %>
                <div class="col-2 bg-warning pl-2 text-right">
            <% end %>
                <%= image_tag("emotions/sadness.png", alt: "emotion icon", size: "45x45", id:"emotion_icon")%>
                <%=  "%0.2f " % [micropost.sadness.to_f * 100]%>
            </div>
            <% if micropost.joy.to_f < 0.5 %>
                <div class="col-2 pl-2 text-right">
            <% else %>
                <div class="col-2 bg-warning pl-2 text-right">
            <% end %>
                <%= image_tag("emotions/joy.png", alt: "emotion icon", size: "45x45", id:"emotion_icon")%>
                <%=  "%0.2f " % [micropost.joy.to_f * 100]%>
            </div>
            <% if micropost.fear.to_f < 0.5 %>
                <div class="col-2 pl-2 text-right">
            <% else %>
                <div class="col-2 bg-warning pl-2 text-right">
            <% end %>
                <%= image_tag("emotions/fear.png", alt: "emotion icon", size: "45x45", id:"emotion_icon")%>
                <%=  "%0.2f " % [micropost.fear.to_f * 100]%>
            </div>
            <% if micropost.disgust.to_f < 0.5 %>
                <div class="col-2 pl-2 text-right">
            <% else %>
                <div class="col-2 bg-warning pl-2 text-right">
            <% end %>
                <%= image_tag("emotions/disgust.png", alt: "emotion icon", size: "45x45", id:"emotion_icon")%>
                <%=  "%0.2f " % [micropost.disgust.to_f * 100]%>
            </div>
            <% if micropost.anger.to_f < 0.5 %>
                <div class="col-2 pl-2 text-right">
            <% else %>
                <div class="col-2 bg-warning pl-2 text-right">
            <% end %>
                <%= image_tag("emotions/anger.png", alt: "emotion icon", size: "45x45", id:"emotion_icon")%>
                <%=  "%0.2f " % [micropost.anger.to_f * 100]%>
            </div>
           
        
        </div>
    </div>
    </div>
</li>