<header class="navbar navbar-default navbar-fixed-top shadow p-1 mb-3 rounded">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>" id="medical_title">
      <%= image_tag("phi.png", alt: "phi logo", size: "30x30", id:"phi_logo")%>Medical API
    </a>
    <nav>
      <ul class="nav">
        <li class="nav-item"><%= link_to "ホーム", root_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "ヘルプ", help_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "ログイン", "#", class: "nav-link" %></li>
      </ul>
    </nav>
  </div>
</header>
