<header class="navbar navbar-default navbar-fixed-top shadow p-1 mb-3 rounded">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>" id="medical_title">
      <%= image_tag("phi.png", alt: "phi logo", size: "30x30", id:"phi_logo")%>Medical API
    </a>
    <nav>
      <ul class="nav">
        <li class="nav-item"><%= link_to "ホーム", root_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "ヘルプ", help_path, class: "nav-link" %></li>
        <% if logged_in? %>
          <% if current_user.admin? %>
            <li class="nav-item"><%= link_to "ユーザー", users_path, class: "nav-link" %></li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              アンケート<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <a><li><%= link_to "新規アンケート","#" %></li></a>
              <li><%= link_to "アンケート一覧","#" %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              マップ<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <a class="nav-link" href="<%= reportsheets_path %>">Report sheets</a>
              <li class="dropdown-divider"></li>
              <a class="nav-link" href="<%= add_positions_file_path %>">Positions</a>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              アカウント<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">

              <a class="nav-link" href="<%=current_user%>">プロファイル</a>
              <a class="nav-link" href="<%=edit_user_path(current_user)%>">設定</a>
              <li class="dropdown-divider"></li>
              <li>
                <a class="nav-link" href="<%=logout_path%>">ログアウト</a>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to "ログイン", login_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
